@use "../../styles/global" as *;
@use "../../styles/mixins" as *;

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(19, 24, 44, .7);
    z-index: 2;
    box-sizing: border-box;

    &__content {
        @include width-height(90%, 30%);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: var(--background);
        position: absolute;

        @include tablet {
            @include width-height(70%, 50%);
        }
    }

    &__close {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;
        cursor: pointer;
        @include width-height(2rem, 2rem);

        &__icon {
            @include width-height(2rem, 2rem);
        }
    }
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    /* Player ratio: 100 / (1280 / 720) */
    margin-bottom: 1.6rem;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}