@use "../../styles/global" as *;
@use "../../styles/mixins" as *;

.movieslist {
    @include flex(null, row, null);
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;

    &__movie {
        @include flex(null, column, null);
        margin: 0 .8rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__image {
        width: 15rem;
    }
}