@use "../../styles/global.scss" as *;
@use "../../styles/mixins" as *;

.sidebar {
    @include width-height(100%, 100%);
    background-color: var(--background);
    box-sizing: border-box;
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    padding: 1.6rem;
    z-index: 4;
    transition: 850ms;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    @include tablet {
        width: 50%;
        padding: 1.6rem 2.4rem;
    }

    @include desktop-small {
        width: 35%;
    }

    &__header {
        @include flex(space-between, row);
        padding-bottom: 1.6rem;
        border-bottom: 2px solid var(--header-border-bottom);

        @include tablet {
            padding-bottom: 1.6rem;
        }
    }

    &__logo {
        width: 12.5rem;
        vertical-align: middle;

        @include tablet {
            width: 15rem;
        }
    }

    &__close-button {
        @include width-height(2rem, 2rem);
        @include flex(center, null);
        border: none;
        background-color: transparent;
        cursor: pointer;

        @include tablet {
            @include width-height(2.5rem, 2.5rem);
        }

        @include desktop {
            @include width-height(3rem, 3rem);
        }

        &__icon {
            @include width-height(2rem, 2rem);

            @include tablet {
                @include width-height(2.5rem, 2.5rem);
            }

            @include desktop {
                @include width-height(3rem, 3rem);
            }
        }
    }

    &.active {
        left: 0;
    }
}